{% if ( (mcb_trust_account is defined and mcb_trust_account != "") or (provident_trust_account is defined and provident_trust_account != "") ) %}
banks:
{% endif %}
{% if mcb_trust_account is defined and mcb_trust_account != "" %}
  mcb:
    trust_account: "{{mcb_trust_account}}"
{% endif %}
{% if provident_trust_account is defined and provident_trust_account != "" %}
  provident:
    trust_account: "{{provident_trust_account}}"
{% endif %}
