xand-api-jwt-token: "{{ xand_api_jwt_token.jwt }}"

{% if mcb_trust_account is defined and mcb_trust_account != "" %}
# The MCB API requires a username and password for authentication, along with a Client App ID and an Organization ID.
mcb-username: "{{mcb_username}}"
mcb-password: "{{mcb_password}}"
mcb-client-app-ident: "{{mcb_client_app_ident}}"
mcb-organization-id: "{{mcb_organization_id}}"
{% endif %}

{% if provident_trust_account is defined and provident_trust_account != "" %}
# Provident Bank uses the Treasury Prime API which requires an API key ID and value for authentication.
provident-api-key-id: "{{provident_api_key_id}}"
provident-api-key-value: "{{provident_api_key_value}}"
{% endif %}
