xand_api_endpoint: "{{ xand_api_internal_endpoint }}"
trust_address: "{{ partner_key.partner_key.address }}"

# The location to place bank API access tokens if necessary
access_token_folder: "/xand/access_tokens/"

# The JWT to access Xand API
xand_api_jwt_secret_key: "xand-api-jwt-token"


